ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #6bbd6b;
   position: fixed;
   top: 0;
   width: 100%;
   position: fixed;
   top: 0;
   width: 100%;
}
 
ul li {
   float: left;
   
}
 

ul li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-family: sans-serif;
}
 

ul li a:hover {
   background-color: #5ab587;
}

h1 {
   text-align: center;
   padding: 50px;
   font-family: sans-serif;
   background-image:url(https://cdn.openart.ai/uploads/image_45dsMyLT_1684897766145_512.webp);
   
 }

 h2{background-color: #F1F1F1;
   text-align: center;
   padding: 25px;
   font-family: sans-serif;
   text-size-adjust: 20px;}

p{background-color: #F1F1F1;
   text-align: center;
   padding: 25px;
   font-family: sans-serif;
   
}
